{% extends 'base.html' %}

{% block content %}
<h2>Productos</h2> <a href="{% url 'crear_producto' %}" class="btn btn-primary">Nuevo</a>
<div class="row">
    {% for producto in productos %}
        <div class="col-xs-6 col-md-3">
            <a href="{{ MEDIA_URL }}{{ producto.imagen.url }}" class="thumbnail">
                {% if producto.imagen %}
                <img src="{{ MEDIA_URL }}{{ producto.imagen.url }}" alt="">
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}